.button-base() {
	display: block;
	margin: 0;

	font-family: "Oswald";
	font-style: normal;
	font-weight: 400;
	text-transform: uppercase;
}

.button {
	.button-base();
	padding: 10px;
	border: none;

	color: @lightest;
	text-align: center;
	background-color: @button-bg-color;

	&:hover {
		background-color: @button-bg-color-hover;
	}

	&:active {
		background-color: @button-bg-color-hover;
		color: @button-color-active;
	}

	@media (min-width: @tablet-width) {
		padding: 14px;
	}
}

.button--minor {
	.button-base();
	padding: 10px;

	color: @special-dark-grey;
	text-align: center;

	background-color: @basic_grey;

	&:hover {
		background-color: @button-minor-hover;
	}

	&:active {
		color: lighten(@special-dark-grey, 30%);
		background-color: @button-minor-hover;
	}
}
