.contacts {
	position: relative;

	background-color: @lightest;

	&--catalog { /* у страницы каталог чуть другой футтер */
		background-color: @basic_grey;
	}
}

.contacts__section-container {
	@media (min-width: @desktop-width) {
		position: relative;
		max-width: 1220px;
		margin: 0 auto;
	}
}

.contacts__text-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 2px;

	width: 100%;
	padding: 26px 20px;
	background-color: @lightest;

	@media (min-width: @tablet-width) {
		padding: 56px 70px 62px 70px;
		margin: 0 auto;
	}

	@media (min-width: @desktop-width) {
		position: absolute;
		top: 95px;
		left: 0;
		z-index: 1;

		width: 565px;
		padding: 60px 80px 56px 80px;
	}
}

.contacts__text-wrapper--catalog { /* у страницы каталог чуть другой футтер */
	background-color: @basic_grey;

	@media (min-width: @desktop-width) {
		z-index: 1;
		background-color: @lightest;
	}
}

.contacts__title {
	margin-right: 2px;

	font-size: 16px;
	line-height: 20px;

	@media (min-width: @tablet-width) {
		font-size: 20px;
		line-height: 26px;
	}
}

.contacts__address {
	@media (min-width: @tablet-width) {
		justify-self: end;
		max-width: 180px;
		text-align: end;
	}

	@media (min-width: @desktop-width) {
		text-align: start;
	}
}

.contacts__street,
.contacts__city {
	margin: 0;

	font-style: normal;
	line-height: 20px;
}

.contacts__street {
	@media (min-width: @tablet-width) {
		margin-bottom: 20px;
	}
}

.contacts__map-container {
	position: relative;
	display: block;
	height: 362px;

	@media (min-width: @tablet-width) {
		height: 400px;
	}
}

.contacts__map-iframe {
	border: none;
	display: block;

	@media (min-width: @tablet-width) {
		height: 400px;
	}
}

.contacts__map-pin {
	position: absolute;
	top: 139px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;

	display: block;
	width: 57px;
	height: 53px;

	@media (min-width: @tablet-width) {
		width: 113px;
		height: 106px;
	}

	@media (min-width: @desktop-width) {
		top: 131px;
		left: 908px;
	}
}
