.detail {
	width: 124px;

	text-align: center;
}

.datail__title {
	padding-top: 14px;
	padding-bottom: 18px;
	border: 1px solid @special-grey;
	border-radius: 5px;

	font-size: 24px;
	line-height: 24px;
}

.detail__description {
	width: 87px;
	margin: -10px auto 0px auto;
	padding: 0 15px;

	font-size: 12px;
	line-height: 12px;
	text-transform: lowercase;

	background-color: @background-grey;
}
