.example {
	background-color: @background-grey;
	padding-top: 25px;
	padding-bottom: 40px;
}

.example__title {
	margin-bottom: 40px;
	line-height: 40px;
}

.exaple__description {
	margin: 0;
	margin-bottom: 20px;
}

.example__list {
	display: flex;
/* 	max-width: 360px; */
	margin-bottom: 20px;

	text-align: center;
}

.example__item:not(:last-child) {
	margin-right: 32px;
}

.example__subtitle {
	display: flex;
	justify-content: center;

	margin: 0;
	margin-bottom: 40px;

	line-height: 20px;
}

.example__subtitle-1 {
	margin-right: 3px;
}

.example__image-wrapper {
	margin-bottom: 15px;
}
