.example {
	background-color: @background-grey;
	padding-top: 25px;
	padding-bottom: 44px;

	@media (min-width: @tablet-width) {
/* 		background-color: @lightest; */
		background-image: linear-gradient(to top, @background-grey 461px, @lightest 461px);
		padding-top: 0;
		padding-bottom: 55px;
	}

	@media (min-width: @desktop-width) {
		padding-bottom: 65px;
		background-image: linear-gradient(to bottom, @lightest 179px, @background-grey 179px);
	}
}

.example__wrapper {
	@media (min-width: @desktop-width) {
		display: grid;
		grid-template-columns: 1fr 592px;
		column-gap: 150px; /* по макету 193 */
	}
}

.example__text-content {
	@media (min-width: @tablet-width) {
		display: grid;
		grid-template-columns: auto 1fr;
		column-gap: 50px;
		max-width: 900px;
		margin-bottom: 60px; /* не 80 тк .detail__description сдвинуто вверх на 15px */
	}

	@media (min-width: @desktop-width) {
		display: block;
		margin-bottom: 0;
	}
}

.example__title {
	margin-bottom: 40px;
	line-height: 40px;

	@media (min-width: @tablet-width) {
		grid-column: ~"1/-1";

		margin-bottom: 63px;
		line-height: 60px;
	}

	@media (min-width: @desktop-width) {
		margin-top: 43px;
		margin-bottom: 146px;
	}
}

.exaple__description {
	margin: 0;
	margin-bottom: 20px;

	@media (min-width: @tablet-width) {
		grid-column: ~"1/-1";

		margin-bottom: 54px;
		max-width: 700px;
	}

	@media (min-width: @desktop-width) {
		margin-bottom: 69px;
		max-width: 460px;
	}
}

.example__list {
	display: flex;
	margin: 0 auto;
	margin-bottom: 20px;

	text-align: center;

	@media (min-width: @tablet-width) {
		margin-bottom: 0;
	}

	@media (min-width: @desktop-width) {
		margin: 0;
		margin-bottom: 36px;
	}
}

.example__item:not(:last-child) {
	margin-right: 32px;

	@media (min-width: @tablet-width) {
		margin-right: 42px;
	}
}

.example__subtitle {
	display: flex;
	justify-content: center;

	margin: 0;
	margin-bottom: 40px;

	line-height: 20px;

	&-1, &-2 {
		margin: 0;
	}

	@media (min-width: @tablet-width) {
		justify-self: end;
		align-self: start;
		margin-top: 10px;

		flex-direction: column;
		align-items: flex-end;
		margin-bottom: 0;

		font-size: 20px;
	}

	@media (min-width: @desktop-width) {
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		margin: 0;
	}
}

.example__subtitle-1 {
	margin-right: 3px;

	@media (min-width: @tablet-width) {
		margin-bottom: 9px;
		margin-right: 0;
	}

	@media (min-width: @desktop-width) {
		margin: 0;
		margin-right: 63px;
	}
}

.example__visual-content {
	@media (min-width: @desktop-width) {
		width: 592px;
	}
}

.example__image-wrapper {
	height: 232px;
	margin: 0 auto;
	margin-bottom: 18px;
	display: flex;
  align-items: center;
  justify-content: center;
}

.example__cat--before,
.example__cat--after {
	@media (max-width: @mobile-width-only) {
		display: none;
	}
}

/* класс только для мобилки */
.example__cat--active {
	@media (max-width: @mobile-width-only) {
		display: block;
	}
}

.example__img {
	height: 232px;
	display: block;
	background-color: @background-grey;
	pointer-events: none;

	&--before {
		width: 280px;
	}

	&--after {
		width: 243px;
	}
}


/* сложное позиционирование, поэтому рассматриваю в разрешении */
@media (min-width: @tablet-width) {
	.example__image-wrapper {
		position: relative;
		height: 520px;
    width: 680px;
		margin-bottom: 16px;
		overflow: hidden;
	}

	.example__cat--before {
		position: absolute;
    top: 0;
    left: 0;
		z-index: 1;

    width: 340px;
		height: 100%;
		overflow: hidden;
	}

	.example__cat--after {
		position: absolute;
    right: 0;
    align-self: end;

		width: 340px;
		height: 100%;
		overflow: hidden;
	}

	.example__img {
		background-color: transparent;
	}

	.example__img--before {
		position: absolute;
    left: 44px;

		width: auto;
		max-width: none;
    height: 499px;
	}

	.example__img--after {
		position: absolute;
    right: 43px;

		width: auto;
		max-width: none;
    height: 511px;
	}
}

/* сложное позиционирование, поэтому рассматриваю в разрешении */
@media (min-width: @desktop-width) {
	.example__image-wrapper {
		width: 595px;
	}

	.example__cat--before {
		width: 298px;
	}

	.example__img--before {
		left: 2px;
	}

	.example__cat--after {
		width: 298px;
	}

	.example__img--after {
		right: 2px;
	}
}

.example__progress-wrapper {
	margin: 0 auto;

	@media (min-width: @tablet-width) {
		padding-left: 5px;
	}
}
