.first-screen {
	padding-top: 27px;

	background-image: url("../../img/index/index-bg-mobile.png");
	background-size: 320px auto;
	background-repeat: no-repeat;
	background-position: top;
}

.first-screen__title {
	width: 249px;
	margin: 0 auto;
	margin-bottom: 25px;
}

.first-screen__description {
	margin-bottom: 29px;

	color: @lightest;
	font-size: 14px;
	line-height: 14px;
	text-align: center;
}

.first-screen__image {
	display: block;
	width: 280px;
	height: 270px;
	margin: 0;
	margin-bottom: 3px;
}

.first-screen__button {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 7px 10px;

	font-size: 14px;
	line-height: 18px;
}
