.form__fieldset {
/* 	margin: 0; */
	padding: 0;
	border: none;
/* 	border-top: 2px solid @button-bg-color; */
}

.form__basic-info {
	margin-bottom: 26px;
}

.form__form-owner {
	margin-bottom: 23px;
}

.form__comment {
	margin-bottom: 23px;
}

.form__other-info {
	margin-bottom: 34px;
}

.form__button {
	width: 280px;
	padding: 7px;
	margin-bottom: 21px;
}

.form__disclaimer {
	margin: 0;
	color: @darkest;
	line-height: 16px;
	text-align: center;
}
