.form-owner__title {
	transform: translateX(-20px);
	margin: 0;
	margin-bottom: 35px;

	@media (min-width: @tablet-width) {
		transform: translateX(-40px);
		margin-bottom: 74px;
	}
}

.form-owner__title span br {
	@media (min-width: @tablet-width) {
		display: none;
	}
}

.form-owner__list {
	@media (min-width: @desktop-width) {
		display: flex;
		justify-content: space-between;
	}
}

.form-owner__list-item:not(:last-child) {
	margin-bottom: 14px;

	@media (min-width: @tablet-width) {
		margin-bottom: 20px;
	}

	@media (min-width: @desktop-width) {
		margin-bottom: 0;
	}
}

.form-owner__label {
	position: relative;
	display: flex;
	align-items: center;

	@media (min-width: @desktop-width) {
		width: 569px;
		align-items: baseline;
	}
}

.form-owner__input {
	margin-left: 11px;
	padding-right: 44px;

	@media (min-width: @tablet-width) {
		margin-left: 14px;
		padding-right: 56px;
	}
}

.form-owner__svg--email {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 20px;
	height: 14px;

	fill: none;
	color: @more-dark-grey;

	@media (min-width: @tablet-width) {
		top: 18px;
		right: 18px;
		width: 20px;
		height: 14px;
	}
}

.form-owner__input--email:hover + .form-owner__svg--email,
.form-owner__input--email:focus + .form-owner__svg--email {
	color: @button-bg-color;
}

.form-owner__svg--tel {
	position: absolute;
	top: 12px;
	right: 13px;
	width: 20px;
	height: 20px;

	color: @more-dark-grey;

	@media (min-width: @tablet-width) {
		top: 16px;
		right: 18px;
	}

	@media (min-width: @desktop-width) {
		right: 17px;
	}
}

.form-owner__input--tel:hover + .form-owner__svg--tel,
.form-owner__input--tel:focus + .form-owner__svg--tel {
	color: @button-bg-color;
}
