.form-basics {
	margin-bottom: 26px;
}

.form-basics__label {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.form-basics__input-list {
	margin-bottom: 22px;
}

.form-basics__input {
	margin-left: 13px;
}

.form-basics__input-item:not(:last-child) {
	margin-bottom: 14px;
}

.form-basics__radio-group {
	width: 320px;
	margin: 0 auto;
	padding: 22px 20px 18px 20px;
	border-top: 1px solid @separator-form;
	border-bottom: 1px solid @separator-form;
}
