.link-base() {
	display: inline-block;
	margin: 0;

	font-family: "Oswald";
	font-style: normal;
	font-weight: 400;
	text-transform: uppercase;
	color: @darkest;
	text-align: start;

	background-color: transparent;
	border: none;
	cursor: pointer;
}

.link {
	.link-base();

	&:hover {
		opacity: 0.6;
	}

	&:active {
		opacity: 0.3;
	}
}

.link--goals {
	.link-base();

	&:hover {
		opacity: 1;
	}

	&:active { /* повторяю из примеси, тк active дб ниже hover */
		opacity: 0.3;
	}
}

.link--progress-bar {
	.link-base();
	position: relative;

	@media (min-width: @tablet-width) {
		&::after {
			content: "";
			position: absolute;
			bottom: -1px;
			left: 0;
			right: 0;

			height: 1px;
			background-image: repeating-linear-gradient(to right, fade(@darkest, 24%), fade(@darkest, 24%) 1px, transparent 1px, transparent 2px);
		}

		&:hover::after {
			background-color: fade(@darkest, 40%);
			background-image: none;
		}

		&:active::after {
			background-color: transparent;
		}
	}
}
