.link-base() {
	display: block;
	margin: 0;

	font-family: "Oswald";
	font-style: normal;
	font-weight: 400;
	text-transform: uppercase;
	color: @darkest;
	text-align: start;

	background-color: transparent;
	border: none;

	&:hover {
		opacity: 0.6;
	}

	&:active {
		opacity: 0.3;
	}
}

.link {
	.link-base();
}

.link--goals {
	.link-base();

	&:hover {
		opacity: 1;
	}

	&:active { /* повторяю из примеси, тк active дб ниже hover */
		opacity: 0.3;
	}
}

/* под сомнением нужен ли, зависит от состояний активности */
.link--progress-bar {
	.link-base();
}
