.menu-toggle {
	min-width: 24px;
	min-height: 18px;
	padding: 8px 0 8px 8px;
	margin: 0;

	background-color: transparent;
	border: none;
}

.menu-toggle__svg--burger {
	display: none;
	width: 24px;
	height: 18px;
}

.menu-toggle__svg--close {
	display: none;
	width: 18px;
	height: 18px;
}

/* навесить класс через js при клике */
.menu-toggle__svg--current {
	display: block;
}
