.page-header {
	display: grid;
	grid-template-columns: 34px 1fr 34px;

	padding-top: 11px;
	padding-bottom: 17px;
}

.page-header__logo-pic {
	width: 33px;
	height: 38px;
}

.page-header__logo-name {
	grid-column: ~"2 / 3";
	justify-self: center;
	align-self: center;

	display: block;
	margin-top: 8px;
}

.page-header__navigation {
	justify-self: end;
	align-self: end;
}

.page-header__menu-list {
	display: none;

	position: absolute;
	right: 0;
	top: 66px;

	width: 100vw;

}

/* навесить класс для открытия меню по клику на бургер */
.page-header__menu-list--open {
	display: block;
}

.page-header__item {
	padding: 22px 0 24px 0;
	border-top: 1px solid @separator-menu-grey;

	text-align: center;

	background-color: @lightest;

	&:last-child {
		border-bottom: 1px solid @separator-menu-grey;
	}
}

.page-header__link {
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
}
