.page-header {
	display: grid;
	grid-template-columns: 34px 1fr 34px;

	padding-top: 10px;
	padding-bottom: 17px;
}

.page-header__logo-pic {
	width: 33px;
	height: 38px;
}

.page-header__logo-name {
	grid-column: 2 / 3;
	justify-self: center;
	align-self: center;

	display: block;
	margin-top: 13px;
}

.page-header__navigation {
	justify-self: end;
	align-self: end;
}

.page-header__menu-list {
	display: none;
}

/* .page-header__link {

} */
