.page-header {
	position: relative;
	display: grid;
	grid-template-columns: auto 1fr 34px;

	padding-top: 10px;
	padding-bottom: 17px;

	@media (min-width: @tablet-width) {
		display: flex;
		justify-content: space-between;
		align-items: baseline;

		padding-top: 0;
		padding-bottom: 0;
	}

	@media (min-width: @desktop-width) {
		grid-template-columns: auto auto 1fr;
		column-gap: 14px;

		position: absolute;
		top: 53px;
		left: 0;
		right:0;
	}
}

.page-header__logo-pic{
	display: block;
	width: 33px;
	height: 38px;

	@media (min-width: @tablet-width) {
		width: 174px;
		height: 51px;
	}

	@media (min-width: @desktop-width) {
		width: 202px;
		height: 59px;
	}
}

.page-header__logo-name-link {
	grid-column: ~"2 / 3";
	justify-self: center;
	align-self: end;
	display: block;

	@media (min-width: @tablet-width) {
		display: none;
	}
}

.page-header__logo-name {
	display: block;
	padding: 7px;
	box-sizing: content-box;
}

.page-header__navigation {
	justify-self: end;
	align-self: end;

	@media (min-width: @tablet-width) {
		align-self: start;
		margin-top: 16px;
	}
}

.page-header__menu-toggle {
	@media (min-width: @tablet-width) {
		display: none;
	}
}

.page-header__menu-list {
	display: none;

	position: absolute;
	left: 0;
	right: 0;
	top: 65px;

/* 	@media (min-width: @tablet-width) {
		display: flex;
	} */
}

/* навесить класс для открытия меню по клику на бургер на мобилке */
.page-header__menu-list--opened {
	@media (max-width: @mobile-width-only) {
		display: block;
	}
}

/* ВЕРНУТЬ КЛАСС page-header__navigation--nojs В РАЗМЕТКУ!!!! */
.page-header__navigation--nojs {
	@media (max-width: @mobile-width-only) {
		& .page-header__menu-toggle {
			display: none;
		}

		& .page-header__menu-list {
			display: none;
		}
	}
}
