.program-choice {
	padding-top: 27px;
	border-top: 1px solid @separator-form;
}

.program-choice__title,
.program-choice__description {
	width: 320px;  /* временно!!!! */
	margin: 0 auto;
	padding: 0 20px;
}

.program-choice__title {
	margin-bottom: 37px;
}

.program-choice__description {
	margin-bottom: 39px;
}

.program-choice__form {
	margin-bottom: 32px;
}
