.progress-bar {
	display: flex;
	align-items: center;

	width: 210px;
}

.progress-bar__bar {
	flex-grow: 1;

	height: 14px;
	margin: 0 13px;
	padding: 3px 6px;
	border: 1px solid @special-grey;
	
	border-radius: 6px;
	background-color: @lightest;
}

.progress-bar__pin {
	width: 35px;
	height: 6px;

	background: @button-bg-color;
	border-radius: 6px;
}
