.socials {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 130px;
	padding-right: 4px;
	margin: 0 auto;
}

.socials__item--vk {
	padding-right: 3px;
}

.socials__link {
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover > .socials__svg {
		fill: @button-bg-color;
	}

	&--fb:hover > .socials__svg path {
		stroke: @button-bg-color;
	}

	&:active > .socials__svg {
		fill: @button-bg-color;
		opacity: 0.3;
	}

	&--fb:active > .socials__svg path {
		stroke: @button-bg-color;
		opacity: 0.3;
	}
}
