.special {
	background-image: url("../../img/catalog/mobile/special-background-mobile.png");
	background-size: 279px 289px;
	background-position: center;
	background-repeat: no-repeat;
}

.special__cover {
	background-color: @button-bg-color;
	opacity: 0.85;

	background-image: url("../../img/catalog/gift-icon.svg");
	background-repeat: no-repeat;
	background-size: 78px 80px;
	background-position: center top 59px;
}

.special__description {
	width: 161px;
	margin: 0 auto;
	padding-top: 187px;
	padding-bottom: 43px;

	color: @lightest;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
}
