.upsale {
	position: relative;
	margin-bottom: 35px;

	&::before {
		content: "";
		position: absolute;
		top: 15px;
		left: 0;
		right: 0;
		z-index: -1;
		height: 2px;
		background-color: @button-bg-color;
	}

	@media (min-width: @tablet-width) {
		margin-bottom: 76px;

		&::before {
			top: 22px;
		}
	}

	@media (min-width: @desktop-width) {
		margin-bottom: 86px;
	}
}

.upsale__wrapper {
	display: grid;
	margin-left: auto;
	margin-right: auto;
}

.upsale__title {
	margin-bottom: 34px;

	font-size: 24px;
	line-height: 24px;

	transform: translateX(-20px);

	& span {
		padding: 0 20px;
		background-color: @lightest;
	}

	@media (min-width: @tablet-width) {
		margin-bottom: 80px;

		font-size: 36px;
		line-height: 36px;

		transform: translateX(0px);

		& span {
			padding: 0 36px;
		}
	}

	@media (min-width: @desktop-width) {
		margin-bottom: 79px;
		transform: translateX(-41px);

		& span {
			padding: 0 41px;
		}
	}
}

.upsale__texts-wrapper {
	@media (min-width: @desktop-width) {
		display: flex;
		justify-content: space-between;
	}
}

.upsale__list {
	margin-bottom: 35px;

	@media (min-width: @tablet-width) {
		margin-bottom: 69px;
	}

	@media (min-width: @desktop-width) {
		width: 73.5%;
		margin-bottom: 0;
	}
}

.upsale__item {
	&:not(:last-child) {
		margin-bottom: 18px;
	}

	@media (min-width: @tablet-width) {
		&:not(:last-child) {
			margin-bottom: 0;
		}
	}

	@media (min-width: @desktop-width) {
		&:not(:last-child) {
			margin-bottom: 15px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.upsale__special {
	@media (min-width: @tablet-width) {
		width: 100%;
	}

	@media (min-width: @desktop-width) {
		width: 20%;
	}
}
